body {
	background-color: black;
	color: gray;
}

nav {
	margin-top: 5px;
}

table[id='body'] {
	margin: auto;
	width: 100%;
	vertical-align: top;
}

table[id='body'] td {
	vertical-align: top;
}

td {
	text-align: left;
}

td[id='nav'] h1 {
	background-color: grey;
	color: black;
	font-size: 1em;
	padding: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

td[id='nav'] h1 a {
	color : black;
}

td[id='nav'] li {
	font-size: .8em;
	list-style-type: none;
}

td[id='nav'] ul {
	border-left: dashed 1px gray;
	margin-left: 15px;
	margin-top: 0px;
	padding-left: 4px;
	padding-top: 4px;
}

td[id='nav'] {
	width: 250px;
	word-wrap: break-word;
	border-right: solid 1px grey;
	padding-right: 5px;
}

td[id='nav'] input {
	width: 100%;
	margin-top: 5px;
}

a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: gray;
	font-weight: bold;
	text-decoration: underline;
}

a[id='solved'] {
	color: green;
}

a[id='unsolved'] {
	color: red;
}

input, textarea, select {
	background-color: black;
	border: solid 1px grey;
	color: grey;
}

textarea {
	width: 100%;
}

textarea[id='bigTextarea'], textarea[id='action'], textarea[id='reaction'] {
	width: 800px;
	height: 300px;
}

header {
	font-size: 2em;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	width: 95%;
}

section {
	height: 90%;
	width: 100%;
}

footer {
	margin: auto; 
	margin-top : 15px;
	margin-bottom : 5px;
	text-align:center;
}

section h1 {
	background-color: gray;
	color: black;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.problemSolved {
	border: dashed 1px green;
	margin-top: 15px;
	padding: 2px;
	padding-left: 4px;
}

.problemSolved h2 {
	background-color:rgb(9, 51, 0);
	color: green;
	font-size: 1em;
	margin:0px;
	margin-bottom: 2px;
	padding: 2px;
}

.problemSolved h2 a {
	color: green;
}

.problemUnsolved {
	border: dashed 1px red;
	margin-top: 15px;
	padding: 2px;
	padding-left: 4px;
}

.problemUnsolved h2 {
	background-color:rgb(128, 0, 0);
	color: red;
	font-size: 1em;
	margin: 0px;
	margin-bottom: 2px;
	padding: 2px;
}

.problemUnsolved h2 a {
	color: red;
}

.modificationProblem, .modificationStep {
	background-color: none;
	text-align:right;
}

.modificationProblem a {
	background-color: none;
	color: gray;
	font-size: 0.8em;
}

table[id="subtitleProblem"] {
	background-color:gray;
	color: black;
	font-size: 0.7em;
	margin: 0px;
	width: 100%;
}

td[id="catProblem"] {
	text-align: right;
}

section p {
	padding-left: 3px;
}

table[id="solved"] {
	color: green;
	margin: auto 0 auto auto;
}

table[id="unsolved"] {
	color: red;
	margin: auto 0 auto auto;
}

.newStep {
	background-color: gray;
	margin: auto;
	margin-top: 20px;
	padding: 3px;
	text-align: center;
	width: 200px;
}

.newStep a {
	color: black;
}

.headerUsefulStep {
	border-top: dotted 2px green;
	color: green;
	margin-top: 15px;
}

.headerUselessStep {
	border-top: dotted 2px red;
	color: red;
	margin-top: 15px;
}

table[id="mainTable"] {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 100%;
}

table[id="mainTable"] td {
	padding: 0px;
}

.headerUsefulStep td[id="right"], .headerUselessStep td[id="right"] {
	text-align: right;
}

.headerUsefulStep td[id="left"], .headerUselessStep td[id="left"] {
	font-weight: bold;
}

.usefulStep {
	background-color: rgb(4, 25, 0);
	font-size: 0.7em;
	margin: 2px;
	text-align: center;
}

.uselessStep {
	background-color: rgb(64, 0, 0);
	font-size: 0.7em;
	margin: 2px;
	text-align: center;
}

p {
	margin: 0px;
	margin-left: 2px;
}

.toggleText {
	font-size: 0.7em;
	text-align: right;
}

.miniFooter {
	font-size: 0.6em;
}

.code {
	border: solid 1px rgb(22, 22, 22);
	font-family: "Courier";
	font-size: 0.8em;
	font-weight: bold;
	margin-left: 5px;
	padding: 3px;
	white-space: pre-line;
}
